*{max-width:100vw;
  }
section{
  display:flex;
  
  color:#888;
  border-radius:10px;
  
  margin:5px;
  }
p{
  width:100%;
  background-color:#666;
  color:#000;
  }
h1{
  color:#000;
  background-color:#999;
  width:100%;
  }
